@model Project.Models.DTO.ChangePasswordModel

<style>
    .err {
        color: red;
    }

    .msg {
        padding: 0px;
    }

    .container {
    max-width: 500px;
}

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .form-check .RadioMonth {
        margin-right: 50px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-group .form-check label {
        font-weight: 500;
    }

    .shadow {
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
    }

    button {
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    .profile-button {
        background: #212529;
        color: #fff;
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #9dc15b
        }

        .profile-button:focus {
            background: #212529;
            box-shadow: none
        }

        .profile-button:active {
            background: #212529;
            box-shadow: none
        }

    .form-control:focus {
        box-shadow: none;
        border-color: #9dc15b
    }
    span{
        color:red
    }
    .danger{
        color:red;
    }
</style>
<div id="pricing" class="section lb ">

    <div class="section-title text-center mb-2">
        <h3>Change Password</h3>

    </div>
    <div class="container mb-1">
        <hr class="invis">
        <div class="card shadow ">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="form-group">

                        <form asp-action="ChangePassword" method="post">
                            <div class="form-group">
                                <label>Current Password <span>*</span></label>
                                <input type="password" class="form-control" asp-for="CurrentPassword" />
                                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                               
                            </div>

                            <div class="form-group">
                                <label>New Password <span>*</span></label>
                                <input type="password" class="form-control" asp-for="NewPassword" />
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>

                            <div class="form-group">
                                <label>Confirm New Password <span>*</span></label>
                                <input type="password" class="form-control" asp-for="PasswordConfirm" />
                                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

                            </div>
                            @if (TempData["Error"] != null)
                            {
                                <div class=" danger ">@TempData["Error"]</div>
                            }
                            @if (TempData["Error1"] != null)
                            {
                                <div class=" danger ">@TempData["Error"]</div>
                            }
                            @if (TempData["success"] != null)
                            {
                                <div class="form-group">
                                    <span class="text-info">@TempData["success"]</span>
                                </div>
                            }

                            <button type="submit" class="btn profile-button">Save</button>
                        </form>

                    </div>




                </div>
            </div>


        </div><!-- end row -->

    </div><!-- end container -->
</div><!-- end section -->

