@model Project.Models.SetUpBox

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .set_up_box_edit_form{
        margin-left: 15% !important;
        background-color: white;
        box-shadow: 1px 2px 10px;
        width: 880px !important;
        padding: 50px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .input_group{
        min-width: 770px !important;
    }
</style>

<h1 class="text-center mt-5 mb-5">Update Set-Up-Box</h1>

<div class="set_up_box_edit_form">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data" method="post" asp-controller="SetUpBox">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" onkeyup="Name()" id="name" class="form-control input_group" />
                    <span asp-validation-for="name" id="name_error" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="details" class="control-label"></label>
                    <input asp-for="details" onkeyup="Details()" id="details" required class="form-control input_group" />
                    <span asp-validation-for="details" id="details_error" class="text-danger"></span>
                </div>
                <div class="form-group">
                  
                   <label>Current Image</label><br />
                    <img src="@Url.Content(Model.img)" width="80"/>
                </div>
                <div class="form-group">
                    <label asp-for="img" class="control-label">Update Image</label>
                    <input asp-for="img" type="file" required name="file" onchange="document.getElementById('Image').src = window.URL.createObjectURL(this.files[0])" class="form-control input_group" />
                    
                </div>
                <img src="" id="Image" width="100"/>
                <div class="form-group">
                    <label asp-for="price" class="control-label"></label>
                    <input asp-for="price" onkeyup="Price()" id="price" class="form-control input_group" />
                    <span asp-validation-for="price" id="price_error" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="return Update()" value="Update" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<script src="~/js/Validate.js"></script>


