@model Project.Models.DTO.RegistrationModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .create_setup_form {
        margin-left: 20% !important;
        margin-right: 20% !important;
    }

    .input_group {
        min-width: 400px !important;
    }

    .form-group {
        font-weight: bold;
    }

    .danger {
        color: red;
    }
</style>

<h1 class="text-center mt-4">Create Account Dealers</h1>
<div class="card shadow create_setup_form">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-bordered">
                <form asp-action="Create" asp-controller="Dealers" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>FName<span style="color:red">*</span></label>
                        <input type="text" class="form-control input_group" asp-for="FirstName" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label>LName<span style="color:red">*</span></label>
                        <input type="text" class="form-control input_group" asp-for="LastName" />
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group">
                        <label>Email<span style="color:red">*</span></label>
                        <input type="text" class="form-control input_group" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label>Phone<span style="color:red">*</span></label>
                        <input type="text" class="form-control input_group" name="phone" />
                        @if (TempData["Error"] != null)
                        {
                            <div class=" danger ">@TempData["Error"]</div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Address<span style="color:red">*</span></label>
                        <input type="text" class="form-control input_group" name="address" />
                    </div>
                    <div class="form-group">
                        <label>Username<span style="color:red">*</span></label>
                        <input type="text" class="form-control input_group" asp-for="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label>Password (eg. John@123)<span style="color:red">*</span></label>
                        <input type="password" class="form-control input_group" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label>Password confirm<span style="color:red">*</span></label>
                        <input type="password" class="form-control input_group" asp-for="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </table>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>