@model Project.Models.Movie

@{
    ViewData["Title"] = "Edit Movie";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .create_setup_form {
        margin-left: 20% !important;
        margin-right: 20% !important;
    }

    .input_group {
        min-width: 400px !important;
    }

    .form-group label {
        font-weight: bold;
    }
</style>

<h1 class="text-center mt-4">Edit Movie</h1>
<div class="card shadow create_setup_form">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-bordered">
                <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Movies">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label">Name</label>
                        <input asp-for="name" class="form-control input_group" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="content" class="control-label">Content</label>
                        <input asp-for="content" class="form-control input_group" />
                        <span asp-validation-for="content" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="img" class="control-label">Img</label>
                        <input asp-for="img" type="file" name="file" id="file" class="form-control-file input_group" />
                        <span asp-validation-for="img" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Type</label>
                        <br />
                        <select class="form-control" asp-for="movie_cate_id" asp-items="@ViewBag.listcate" data-val-required="Please select a type" data-val="true">
                            <option>Type</option>
                        </select>
                        <span asp-validation-for="movie_cate_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label">Price</label>
                        <input asp-for="price"  id="textPrice" class="form-control input_group" />
                        <span class="text text-danger" style="display:none" id="error_textPrice">Price from 3 to 500 $</span>
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="dangKy"  value="Edit" class="btn btn-primary" />
                    </div>
                </form>

                <a class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
</div>




<script>
    var checkValidation = function () {




        var flag = kiemtraso('#textPrice', '#error_textPrice');
        return Boolean(flag);
    }
    function kiemtraso(value, error) {
        var bientam = document.querySelector(value).value;
        if (bientam < 3 || bientam > 500) {

            document.querySelector(error).style.display = "block";
            document.querySelector(value).style.border = "1px solid red";
            return false;
        } else {

            document.querySelector(error).style.display = "none";
            document.querySelector(value).style.border = "";

            return true;
        }
    }

    document.querySelector('#dangKy').onclick = checkValidation;

</script>
