@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="all-title-box">
    <div class="container text-center">
        <h1>About Us<span class="m_1">"Discover our story, join our journey"</span></h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>About</h3>
                <p class="lead">R-DTH is the first to have adopted the advanced MPEG-4 technology that offers better compression and signal quality. It is also the first to have offered High Definition (HD) content, for a whole new television viewing experience. Today, R-DTH has spreaded rapidly all over the country and offers the best entertainment value in regional content coupled with advanced yet affordable products like set top boxes with USB recordings.</p>
            </div>
        </div><!-- end title -->

        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h4>2007</h4>
                    <h2>Launch of R-DTH</h2>
                    <p>R-DTH launched its DTH service in December 2007 and became one of the highest quality direct-to-home television services in India. They used the latest MPEG-4 technology to provide excellent picture and sound quality for users. It has become a top choice for those who want to own a direct-to-home television service with good quality and reasonable prices.</p>

                    <p>R-DTH continues to strive to improve its service and ensure that users are always satisfied with it.</p>

                    <a href="#" class="hover-btn-new"><span>Learn More</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="./public/images/about_02.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="./public/images/about_03.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Set Top Box with recording facility & 12 million subscribers</h2>
                    <p>D-DTH has taken the lead in providing a fantastic television experience to users by launching HD boxes with USB recording feature and making it a standard feature on all HD boxes. This redefined the HD segment of buyers in true Sun Direct style. R-DTH achieved 12 million gross subscribers in early 2022.</p>

                    <p>R-DTH has created a strong competition in the direct-to-home television industry with its good service and advanced features. They have been at the forefront of using the latest technology to provide the best experience to users. The number of subscribers of R-DTH demonstrates their success in providing quality service and reasonable prices to users.</p>

                    <a href="#" class="hover-btn-new"><span>Learn More</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->



<div class="parallax section dbcolor">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="./public/images/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="./public/images/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="./public/images/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="./public/images/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="./public/images/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="./public/images/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
