@model Project.Models.Movie_cate

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .create_setup_form {
        margin-left: 20% !important;
        margin-right: 20% !important;
    }

    .input_group {
        min-width: 400px !important;
    }

    .form-group label {
        font-weight: bold;
    }
</style>
<h1 class="text-center">Create Movie Category</h1>
<div class="card shadow create_setup_form">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-bordered">
        <form asp-action="Edit" method="post"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label">Id</label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
        </form>
            </table>
        </div>
    </div>
</div>
